Bike Trip Mileage

This notebook stores cumulative bike mileage using a pandas Series.
It then calculates how many miles were ridden each day.

In [2]:
import pandas as pd

# cumulative miles at the end of each day
miles = pd.Series([55, 120, 185, 240, 310, 375])

# calculate miles ridden each day
daily_miles = miles.diff()

# first day equals first entry
daily_miles.iloc[0] = miles.iloc[0]

# show results in a table
result = pd.DataFrame({
    "Cumulative Miles": miles,
    "Miles Ridden That Day": daily_miles
})

result

   Cumulative Miles  Miles Ridden That Day
0                55                   55.0
1               120                   65.0
2               185                   65.0
3               240                   55.0
4               310                   70.0
5               375                   65.0