IS362 Project 1 â€“ Airline Delay Analysis

This project analyzes airline arrival delays using data stored in a CSV file.
The goal is to compare delay performance between Alaska Airlines and AM West
across several destinations.

First, we load the airline delay data from the CSV file into pandas.
This allows us to work with the data in table form.

In [1]:
import pandas as pd
df = pd.read_csv("airline_data.csv")
df

    Airline     Destination   Status  Count
0     ALASKA    Los Angeles  on time    497
1     ALASKA    Los Angeles  delayed     62
2     ALASKA        Phoenix  on time    221
3     ALASKA        Phoenix  delayed     12
4     ALASKA      San Diego  on time    212
5     ALASKA      San Diego  delayed     20
6     ALASKA  San Francisco  on time    503
7     ALASKA  San Francisco  delayed    102
8     ALASKA        Seattle  on time   1841
9     ALASKA        Seattle  delayed    305
10   AM WEST    Los Angeles  on time    694
11   AM WEST    Los Angeles  delayed    117
12   AM WEST        Phoenix  on time   4840
13   AM WEST        Phoenix  delayed    415
14   AM WEST      San Diego  on time    383
15   AM WEST      San Diego  delayed     65
16   AM WEST  San Francisco  on time    320
17   AM WEST  San Francisco  delayed    129
18   AM WEST        Seattle  on time    201
19   AM WEST        Seattle  delayed     61

Next, we look at only the delayed flights so we can focus on comparing
the number of delays between the two airlines.

In [2]:
delayed = df[df["Status"] == "delayed"]
delayed

    Airline     Destination   Status  Count
1     ALASKA    Los Angeles  delayed     62
3     ALASKA        Phoenix  delayed     12
5     ALASKA      San Diego  delayed     20
7     ALASKA  San Francisco  delayed    102
9     ALASKA        Seattle  delayed    305
11   AM WEST    Los Angeles  delayed    117
13   AM WEST        Phoenix  delayed    415
15   AM WEST      San Diego  delayed     65
17   AM WEST  San Francisco  delayed    129
19   AM WEST        Seattle  delayed     61

Here we calculate the total number of delayed flights for each airline.
This helps us see which airline experienced more delays overall.

In [3]:
import pandas as pd

df = pd.read_csv("airline_data.csv")

# clean up hidden spaces / weird characters in column names
df.columns = df.columns.str.strip()

# (optional but helpful) clean spaces in Status values too
df["Status"] = df["Status"].astype(str).str.strip()

df.head()

  Airline  Destination   Status  Count
0  ALASKA  Los Angeles  on time    497
1  ALASKA  Los Angeles  delayed     62
2  ALASKA      Phoenix  on time    221
3  ALASKA      Phoenix  delayed     12
4  ALASKA    San Diego  on time    212

In [4]:
delayed = df[df["Status"] == "delayed"]
delayed.groupby("Airline")["Count"].sum()

Airline
ALASKA     501
AM WEST    787
Name: Count, dtype: int64

In [5]:
df.groupby("Airline")["Count"].sum()

Airline
ALASKA     3775
AM WEST    7225
Name: Count, dtype: int64

In [6]:
delayed_total = delayed.groupby("Airline")["Count"].sum()
all_total = df.groupby("Airline")["Count"].sum()

delay_rate = delayed_total / all_total

delay_rate

Airline
ALASKA     0.132715
AM WEST    0.108927
Name: Count, dtype: float64

Here we calculate the delay rate by dividing the total delayed flights
by the total number of flights for each airline.

This allows us to compare airline reliability based on the percentage
of delayed flights rather than just the total number.

Conclusion

From this analysis, we compared the airlines by calculating the total
number of delays and the percentage of delayed flights.

Using pandas allowed us to load the CSV file and perform calculations
to compare airline performance across destinations.